@import "../root.css";

/* Styles des pages Register et Login */

.section-style {
  display: flex;
  justify-content: center;
  padding: 3em 0;
  text-align: center;
}

/* Style de la page Post + toutes mes pages redirection vers Edit/Update */
.section-style2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--darkGreen);
  border-radius: 1em;
  padding: 2em;
  width: 75%;
  margin: 3em auto;
  box-shadow: var(--ombre);
  position: relative;
}

.section-style h2,
.section-style2 h2,
.section-style3 h2 {
  color: var(--mediumGreen);
  text-align: center;
  font-family: var(--fontItalic);
  text-transform: capitalize;
  font-size: 2.3em;
  margin: 0.5em;
}

.rotate-gif1,
.rotate-gif2,
.rotate-gif3 {
  display: none;
}

.form-style {
  width: 14em;
  background-color: var(--darkGreen);
  padding: 2em;
  font-family: var(--fontRegular);
  border-radius: 1em;
  box-shadow: var(--ombre);
}

.form-style2,
.form-style2 section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-family: var(--fontRegular);
  color: var(--mediumGreen);
  text-align: center;
  display: block;
  margin: 1em 0;
}

.form-image,
.login-text,
.text-signup {
  display: none;
}

.form-input,
.form-textarea,
.form-input2,
form select {
  padding: 0.5em;
  border-radius: 1em;
  width: 16em;
  font-family: var(--fontRegular);
  border: none;
  text-align: center;
  color: var(--darkGreen);
  transition: transform 0.3s ease; /* Add this line for the scaling effect */
}

.file-input {
  border: none;
  color: var(--mediumGreen);
  font-family: var(--fontRegular);
}

form select {
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 12em;
}

.form-textarea {
  height: 10em;
}

form input:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}

form button {
  background-color: var(--mediumGreen);
  color: var(--darkGreen);
  border-radius: 1em;
  width: 10em;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  font-family: var(--fontRegular);
  transition: transform 0.3s ease; /* Add this line for the scaling effect */
}

form button:hover {
  background-color: var(--hoverGreen);
  transition: var(--transitionBG), var(--transitionColor);
  transform: scale(1.05);
}

form span {
  color: var(--orange);
  margin-top: 1.2em;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  animation: slideIn 1s ease-in-out;
}

.form-button {
  margin-top: 2em;
}

.ql-editor {
  border: none;
  min-height: 20em;
  padding: 0;
  margin: 0;
}
.ql-toolbar {
  display: flex;
  background-color: var(--mediumGreen);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-picker-label,
.ql-snow .ql-picker-options .ql-picker-item {
  color: var(--darkGreen);
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  margin-top: 1em;
}

.ql-snow .ql-picker-options .ql-picker-item:hover {
  color: var(--hoverGreen);
}

.ql-picker-item .ql-selected {
  color: var(--mediumGreen);
}

.ql-container.ql-snow {
  background-color: #fff;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.ql-snow .ql-picker-label:hover {
  color: var(--orange);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (min-width: 480px) {
  .section-style2,
  .section-style3 {
    width: 25em;
  }

  .form-input2,
  .form-textarea {
    width: 26em;
  }

  .ql-toolbar.ql-snow {
    display: flex;
    align-items: center;
    position: relative;
  }

  .ql-header.ql-picker {
    position: absolute;
    bottom: 1.5em;
  }
}

@media screen and (min-width: 720px) {
  .section-style {
    box-shadow: var(--ombre);
  }

  .section-style2 {
    padding-left: 1.4em;
  }

  .form-style {
    box-shadow: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-image {
    display: flex;
    width: 16em;
    height: 27.3em;
    background-size: contain;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .login-left {
    position: relative;
  }

  .login-text {
    display: flex;
    position: absolute;
    top: 2.8em;
    left: 1.5em;
    color: var(--darkGreen);
    width: 8em;
    font-family: var(--fontItalic);
    font-size: 1.5em;
  }

  .section-style2,
  .section-style3 {
    width: 40em;
  }

  .ql-editor {
    width: 40em;
    margin-left: 2em;
  }

  .ql-container.ql-snow {
    height: 40em;
  }
  .ql-toolbar.ql-snow {
    justify-content: center;
  }

  .section-style2,
  .section-style3 {
    position: relative;
  }
}

@media screen and (min-width: 990px) {
  .form-style {
    width: 17em;
    height: 27em;
  }

  .text-signup {
    display: flex;
    color: var(--mediumGreen);
    font-family: var(--fontRegular);
    margin-top: 2em;
  }

  .login-redirection {
    color: var(--orange);
    padding-left: 0.3em;
    font-weight: bold;
  }

  .login-redirection:hover {
    color: var(--hoverOrange);
  }

  .form-image {
    width: 21em;
    height: 31em;
  }

  .login-text {
    top: 3em;
    left: 2.2em;
    font-size: 1.7em;
  }

  .section-style2,
  .section-style3 {
    width: 57em;
  }

  .rotate-gif1,
  .rotate-gif2,
  .rotate-gif3 {
    display: flex;
    width: 8em;
    position: absolute;
  }
  .rotate-gif1 {
    left: 1em;
    top: 1em;
  }

  .rotate-gif2 {
    right: 1em;
    bottom: 1em;
  }

  .rotate-gif3 {
    left: 5em;
    top: 1em;
  }

  #section-detail {
    width: 40em;
    padding: 3em;
  }
}
