/* La classe .home est appliquée au conteneur principal de la page. */
.home {
  font-family: var(--fontRegular);
  position: relative;
}

/* La classe .p-section1 stylise une section spécifique de la page. Elle la centre verticalement et horizontalement, définit sa couleur de fond, sa taille, sa police, sa couleur de texte, et une animation de fondu à l'entrée. */

.p-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--darkGreen);
  height: 22em;
  margin: 2em auto;
  width: 95%;
  border-radius: 1em;
  font-family: var(--fontRegular);
  color: var(--mediumGreen);
  animation: fadeIn 1s ease-in-out;
  position: relative;

  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
}

.p-section1 ul,
.p-article4 ul {
  display: flex;
}

/* La classe .fond1 est utilisée pour masquer un élément. */
.fond1 {
  display: none;
}

.lune-fond,
.lune-fond2 {
  display: none;
}

/* La classe .p-article1 stylise une image spécifique en définissant sa taille, son arrondi, son ajustement d'objet.*/

.p-article1 img {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  object-fit: cover;
}

.p-section1 h3 {
  text-transform: capitalize;
  animation: slideIn 1s ease-in-out;
  font-size: 1em;
}

.p-section1 p,
.p-description {
  font-size: 0.9em;
  text-align: justify;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.p-article1 {
  display: flex;
  justify-content: center;
}

.profile-icon {
  font-size: 1.5em;
  color: var(--mediumGreen);
}

.badge {
  width: 2em;
  position: absolute;
}

.p-new-article {
  display: flex;
  flex-direction: row;
}

.p-new-article ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  margin-left: 0.5em;
}

/* La classe .heart-icon stylise les icônes de cœur en définissant leur couleur et leur marge à droite. */

.heart-icon {
  color: var(--orange);
  margin-right: 0.4em;
}

/* La classe .book-icon stylise les icônes de livre en définissant leur couleur. */

.book-icon {
  color: var(--hoverGreen);
}

.view-icon {
  color: var(--hoverBlue);
  margin-right: 0.3em;
}

/* Ces classes définissent la non-affichage pour certains éléments. */

.p-text-none,
.no-text-icon,
.p-aside {
  display: none;
}

/* La classe .p-sous-section stylise une sous-section de la page en définissant son affichage, sa couleur de fond, sa police, sa couleur de texte, sa taille, sa bordure, sa ombre, sa marge et une animation de fondu à l'entrée. */

.p-sous-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  font-family: var(--fontRegular);
  background-color: var(--panelBlue);
  border-radius: 0.5em;
  width: 80%;
  box-shadow: var(--ombre);
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0 1em;
  animation: fadeIn 1s ease-in-out;
  position: relative;

  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
}

.p-sous-section .books-article1 li:nth-child(3) {
  text-align: center;
}
.books-article2 .span-align {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.books-article2 pre {
  text-align: center;
}

.books-article2 .categories {
  color: var(--blue);
}

.span-align .link-bio,
.span-align .profile-icon {
  color: var(--white);
}

.p-article3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-sous-section .p-couverture {
  display: none;
}

.p-title {
  text-transform: uppercase;
  color: var(--orange);
  animation: fadeIn 1s ease-in-out;
}

.p-article4 li {
  text-align: center;
}

.p-article4 li:nth-child(2) {
  padding-top: 1.5em;
}

.p-article5 pre {
  font-style: italic;
  font-size: 0.8em;
}

.p-article4 .description {
  text-align: justify;
  padding-left: 0.8em;
}

.p-article4 .categories {
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--mediumGreen);
}

.p-article6 ul {
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.p-logo-img {
  width: 3em;
  padding: 1em;
}

.p-sous-section p {
  text-align: justify;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Media query pour les écrans d'une largeur minimale de 480px */
@media screen and (min-width: 480px) {
  .p-sous-section .p-couverture {
    display: flex;
    height: 12em;
    width: 8em;
    box-shadow: var(--ombre);
  }

  .p-text-none {
    display: flex;
  }

  .ul-prebooks {
    display: flex;
    color: var(--blue);
    justify-content: center;
  }

  .ul-prebooks li {
    margin-left: 0.5em;
  }
}

/* Media query pour les écrans d'une largeur minimale de 720px */
@media screen and (min-width: 720px) {
  .p-section1 {
    display: grid;
    grid-template-columns: 60% 30% 5%;
    height: 18em;
    align-items: center;
  }

  .p-section h3 {
    font-size: 1.3em;
  }

  .p-section1 p {
    font-size: 1em;
  }

  .lune-fond2 {
    display: flex;
    width: 5em;
    margin: 1em auto;
  }

  .p-new-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .p-new-article ul {
    flex-direction: column;
  }

  .p-article-ul ul#pic2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .p-section-bio {
    display: flex;
    align-items: center;
    background-color: var(--orange);
    padding: 1em;
    color: var(--darkGreen);
    border-radius: 0.5em;
    box-shadow: var(--ombre);
  }

  .p-section-bio span {
    margin-right: 2em;
  }

  .p-article1 img {
    width: 7em;
    height: 7em;
  }

  .p-section-bloc {
    display: grid;
    grid-template-columns: 30% 50%;
    justify-content: center;
  }

  .p-sous-section {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1em 0;
    width: 42em;
    margin-bottom: 1.5em;
  }

  #none-book {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  .span-align .profile-icon {
    display: none;
  }

  .span-align .no-text-icon {
    display: flex;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
  }

  .span-align li {
    margin-right: 0.5em;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }

  .p-title {
    text-align: center;
  }

  .p-article5 {
    display: flex;
  }

  .p-article5 pre {
    padding-right: 1.5em;
  }
}

/* Media query pour les écrans d'une largeur minimale de 990px */
@media screen and (min-width: 990px) {
  .p-section1 {
    grid-template-columns: 50% 30% 13%;
  }

  .lune-fond {
    display: flex;
    width: 12em;
    position: relative;
    right: 4em;
  }

  .p-article1 img {
    width: 8em;
    height: 8em;
  }

  .no-text-icon {
    display: flex;
  }

  .profile-icon {
    display: none;
  }

  .link-bio {
    color: var(--mediumGreen);
  }

  .p-article-ul ul li,
  .p-article6 ul li {
    display: flex;
    margin: 0.5em;
    width: 10em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.8em;
    color: var(--mediumGreen);

    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);
    }
  }
}

/* Media query pour les écrans d'une largeur minimale de 1200px */
@media screen and (min-width: 1200px) {
  .p-section1 {
    border-radius: 1em;
  }

  .p-section-bio {
    z-index: 1;
  }

  .fond1 {
    display: flex;
    width: 50%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    position: absolute;
    height: 18em;
    left: 0;
    top: 0;
  }

  .fond2 {
    display: none;
  }

  .p-section2 {
    margin-bottom: 2.5em;
  }

  .p-sous-section {
    margin-left: 3em;
  }

  .p-aside {
    display: flex;
    flex-direction: column;
    width: 30em;
    gap: 1em;
    position: absolute;
    top: 20em;
  }

  .p-aside-section {
    padding-left: 8em;
  }

  .p-section3,
  .p-section4 {
    height: 8em;
    width: 20em;
    overflow: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    padding-left: 1em;
  }

  .p-section-3 {
    align-items: center;
  }

  .p-author-img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    object-fit: cover;
  }

  .p-author-article,
  .p-book-article {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  .p-book-img {
    width: 4em;
    height: 6em;
  }

  .p-section4 ul {
    align-items: center;
  }

  .p-book-title {
    font-size: 0.8em;
    width: 5em;
    text-align: center;
    color: var(--orange);
  }

  #none-book {
    margin-top: 1em;
  }
  #none-book p,
  #none-book h1 {
    color: var(--darkGreen);
    font-family: var(--fontRegular);
    text-align: justify;
  }

  .none-book-link {
    color: var(--orange);
    padding: 0 0.3em;
  }

  .none-book-link:hover {
    color: var(--hoverOrange);
  }

  .p-author-name {
    font-size: 1em;
    font-family: var(--fontItalic);
    color: var(--darkGreen);
    text-transform: capitalize;
    font-weight: bold;
  }
}
