.author-scroll {
  max-height: 25em;
  overflow-y: auto;
}

.author-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  background-color: var(--mediumGreen);
  font-family: var(--fontRegular);
  border-radius: 0.5em;
  width: 14em;
  margin: 0.5em;
  margin-left: 0.8em;
  margin-right: 1em;
  box-shadow: var(--ombre);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.author-section:hover {
  transform: scale(1.05);
}

.author-title h1 {
  color: var(--mediumGreen);
  background-color: var(--darkGreen);
}

.author-link {
  color: var(--darkGreen);
  font-family: var(--fontRegular);
  text-transform: uppercase;
  font-size: 0.8em;
}

.author-img {
  height: 8em;
  object-fit: cover;
  padding-top: 1em;
  display: none;
}

.author-icon {
  width: 2em;
  margin-right: 0.3em;
}

.author-title {
  display: flex;
  align-items: center;
  position: relative;
}

.list-title-img,
.list-none,
.list-fond-img {
  display: none;
}

@media screen and (min-width: 480px) {
  .author-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: none;
  }

  .author-section {
    width: 14em;
    margin: 0.3em;
  }

  .author-title h1 {
    width: 9em;
  }
}

@media screen and (min-width: 720px) {
  .list-title-img,
  .list-none {
    display: flex;
    width: 30em;
  }

  .author-h1 {
    display: none;
  }

  #list-first {
    width: 43.5em;
    border-radius: 1em;
    height: 18em;
    box-shadow: var(--ombre);
    margin: 1em;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);
    }
  }

  .list-ul {
    position: relative;
    margin: 0 auto;
  }

  .list-title-img {
    display: flex;
    position: absolute;
    left: -21.8em;
    bottom: -8em;
    width: 18em;
    height: 15em;
  }

  .list-none {
    display: flex;
    position: absolute;
    font-family: var(--fontRegular);
    width: 22em;
    left: -4em;
    bottom: -7.5em;
    text-align: justify;
    padding: 1em;
    border-radius: 0.5em;
  }

  #author-none {
    background-color: var(--hoverGreen);
    color: var(--darkGreen);
  }

  .author-title {
    background-color: var(--darkGreen);
  }

  .author-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: none;
  }

  .author-img {
    display: block;
    width: 12em;
    margin: auto; /* Centre l'image horizontalement */
  }

  .author-section {
    display: block;
    text-align: center;
    width: 14em;
    margin: 0.4em;
  }

  .m-container h1 {
    width: 4em;
  }

  .author-name {
    font-size: 1.1em;
  }
  .author-icon {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 990px) {
  .author-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: none;
  }

  #list-first {
    width: 58.2em;
    border-radius: 1em;
  }
  .list-title-img {
    left: -29em;
  }

  .list-none {
    width: 25.3em;
    left: -10.8em;
  }

  .list-fond-img {
    display: flex;
    position: absolute;
    width: 12em;
    top: -5em;
    left: 17em;
    transform: scaleX(-1);
  }
}

@media screen and (min-width: 1200px) {
  .author-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-height: none;
  }

  #list-first {
    width: 73em;
  }

  .list-title-img {
    left: -33em;
  }

  .list-none {
    width: 28.3em;
    left: -13em;
    bottom: -6.6em;
  }

  .list-fond-img {
    left: 20em;
  }
}
