/* Style de la section scrollable des auteurs */
.author-scroll {
  max-height: 25em; /* Hauteur maximale de la section */
  overflow-y: auto; /* Défilement vertical en cas de dépassement */
}

/* Style d'une section d'auteur */
.author-section {
  display: flex; /* Affichage en flexbox */
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center; /* Alignement vertical */
  overflow-y: auto; /* Défilement vertical en cas de dépassement */
  background-color: var(--mediumGreen); /* Couleur de fond */
  font-family: var(--fontRegular); /* Police de caractères régulière */
  border-radius: 0.5em; /* Bordure arrondie */
  width: 14em; /* Largeur de la section */
  margin: 0.5em; /* Marge extérieure */
  margin-left: 0.8em; /* Marge à gauche */
  margin-right: 1em; /* Marge à droite */
  box-shadow: var(--ombre); /* Ombre */
  text-align: center; /* Alignement du texte au centre */
  transition: transform 0.3s ease-in-out; /* Transition sur l'échelle */
}

/* Animation au survol d'une section d'auteur */
.author-section:hover {
  transform: scale(1.05); /* Agrandissement */
}

/* Style du titre de la section d'auteurs */
.author-title h1 {
  color: var(--mediumGreen); /* Couleur du texte */
  background-color: var(--darkGreen); /* Couleur de fond */
}

/* Style des liens des auteurs */
.author-link {
  color: var(--darkGreen); /* Couleur du texte */
  font-family: var(--fontRegular); /* Police de caractères régulière */
  text-transform: uppercase; /* Conversion en majuscules */
  font-size: 0.8em; /* Taille de police */
}

/* Style des images d'auteurs */
.author-img {
  height: 8em; /* Hauteur de l'image */
  object-fit: cover; /* Redimensionnement de l'image pour couvrir */
  padding-top: 1em; /* Remplissage en haut de l'image */
  display: none; /* Masquage par défaut */
}

/* Style des icônes d'auteurs */
.author-icon {
  width: 2em; /* Largeur de l'icône */
  margin-right: 0.3em; /* Marge à droite */
}

/* Style du titre de la section d'auteurs */
.author-title {
  display: flex; /* Affichage en flexbox */
  align-items: center; /* Alignement vertical */
  position: relative; /* Position relative */
}

/* Styles des éléments liés au titre (masqués par défaut) */
.list-title-img,
.list-none,
.list-fond-img {
  display: none; /* Masquage par défaut */
}

/* Media queries pour les écrans de taille moyenne */
@media screen and (min-width: 480px) {
  .author-scroll {
    display: grid; /* Affichage en grille */
    grid-template-columns: 1fr 1fr; /* 2 colonnes */
    max-height: none; /* Hauteur illimitée */
  }

  .author-section {
    width: 14em; /* Largeur de la section */
    margin: 0.3em; /* Marge extérieure */
  }

  .author-title h1 {
    width: 9em; /* Largeur du titre */
  }
}

/* Media queries pour les écrans moyennement grands (tablettes) */
@media screen and (min-width: 720px) {
  .list-title-img,
  .list-none {
    display: flex;
    width: 30em;
  }

  .author-h1 {
    display: none;
  }

  #list-first {
    width: 43.5em;
    border-radius: 1em;
    height: 18em;
    box-shadow: var(--ombre);
    margin: 1em;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);
    }
  }

  .list-ul {
    position: relative;
    margin: 0 auto;
  }

  .list-title-img {
    display: flex;
    position: absolute;
    left: -21.8em;
    bottom: -8em;
    width: 18em;
    height: 15em;
  }

  .list-none {
    display: flex;
    position: absolute;
    font-family: var(--fontRegular);
    width: 22em;
    left: -4em;
    bottom: -7.5em;
    text-align: justify;
    padding: 1em;
    border-radius: 0.5em;
  }

  #author-none {
    background-color: var(--hoverGreen);
    color: var(--darkGreen);
  }

  .author-title {
    background-color: var(--darkGreen);
  }

  .author-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: none;
  }

  .author-img {
    display: block;
    width: 12em;
    margin: auto; /* Centre l'image horizontalement */
  }

  .author-section {
    display: block;
    text-align: center;
    width: 14em;
    margin: 0.4em;
  }

  .m-container h1 {
    width: 4em;
  }

  .author-name {
    font-size: 1.1em;
  }
  .author-icon {
    font-size: 1.1em;
  }
}

/* Media queries pour les écrans grands */

@media screen and (min-width: 990px) {
  .author-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: none;
  }

  #list-first {
    width: 58.2em;
    border-radius: 1em;
  }
  .list-title-img {
    left: -29em;
  }

  .list-none {
    width: 25.3em;
    left: -10.8em;
  }

  .list-fond-img {
    display: flex;
    position: absolute;
    width: 12em;
    top: -5em;
    left: 17em;
    transform: scaleX(-1);
  }
}

/* Media queries pour les écrans très grands */
@media screen and (min-width: 1200px) {
  .author-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-height: none;
  }

  #list-first {
    width: 73em;
  }

  .list-title-img {
    left: -33em;
  }

  .list-none {
    width: 28.3em;
    left: -13em;
    bottom: -6.6em;
  }

  .list-fond-img {
    left: 20em;
  }
}
