/* Style de la section scrollable des lecteurs */
.reader-scroll {
  max-height: 25em; /* Hauteur maximale de la section */
  overflow-y: auto; /* Défilement vertical en cas de dépassement */
}

/* Style d'une section de lecteur */
.reader-section {
  display: flex; /* Affichage en flexbox */
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center; /* Alignement vertical */
  overflow-y: auto; /* Défilement vertical en cas de dépassement */
  background-color: var(--blue); /* Couleur de fond */
  font-family: var(--fontRegular); /* Police de caractères régulière */
  border-radius: 0.5em; /* Bordure arrondie */
  width: 14em; /* Largeur de la section */
  margin: 0.5em; /* Marge extérieure */
  margin-left: 0.8em; /* Marge à gauche */
  margin-right: 1em; /* Marge à droite */
  box-shadow: var(--ombre); /* Ombre */
  text-align: center; /* Alignement du texte au centre */
  transition: transform 0.3s ease-in-out; /* Transition sur l'échelle */
}

/* Animation au survol d'une section de lecteur */
.reader-section:hover {
  transform: scale(1.05); /* Agrandissement */
}

/* Style du titre de la section de lecteurs */
.reader-title h1 {
  color: var(--darkGreen); /* Couleur du texte */
  background-color: var(--orange); /* Couleur de fond */
}

/* Style des liens des lecteurs */
.reader-link {
  color: var(--white); /* Couleur du texte */
  font-family: var(--fontRegular); /* Police de caractères régulière */
  text-transform: uppercase; /* Conversion en majuscules */
  font-size: 0.8em; /* Taille de police */
}

/* Style des images des lecteurs */
.reader-img {
  height: 8em; /* Hauteur de l'image */
  object-fit: cover; /* Redimensionnement de l'image pour couvrir */
  padding-top: 1em; /* Remplissage en haut de l'image */
  display: none; /* Masquage par défaut */
}

/* Style des icônes des lecteurs */
.reader-icon {
  width: 2em; /* Largeur de l'icône */
  margin-right: 0.3em; /* Marge à droite */
}

/* Style du titre de la section de lecteurs */
.reader-title {
  display: flex; /* Affichage en flexbox */
  align-items: center; /* Alignement vertical */
  position: relative; /* Position relative */
}

/* Media queries pour les écrans de taille moyenne */
@media screen and (min-width: 480px) {
  .reader-scroll {
    display: grid; /* Affichage en grille */
    grid-template-columns: 1fr 1fr; /* 2 colonnes */
    max-height: none; /* Hauteur illimitée */
  }

  .reader-section {
    width: 14em; /* Largeur de la section */
    margin: 0.3em; /* Marge extérieure */
  }

  .reader-title h1 {
    width: 9em; /* Largeur du titre */
  }
}

/* Media queries pour les écrans moyennement grands (tablettes) */
@media screen and (min-width: 720px) {
  .reader-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: none;
  }

  .reader-img {
    display: block;
    width: 12em;
    margin: auto; /* Centre l'image horizontalement */
  }

  .reader-section {
    display: block;
    text-align: center;
    width: 14em;
    margin: 0.4em;
  }

  .reader-link {
    font-size: 0.7em;
  }

  .reader-h1 {
    display: none;
  }
  .reader-icon {
    font-size: 1.1em;
  }

  #reader-none {
    background-color: var(--hoverOrange);
    color: var(--darkGreen);
    margin-left: 0.7em;
  }
  .reader-title {
    background-color: var(--orange);
  }
}

/* Media queries pour les écrans grands */
@media screen and (min-width: 990px) {
  .reader-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: none;
  }

  #reader-fond-img {
    width: 11em;
    margin-left: 1em;
    margin-top: 1em;
  }

  #reader-none {
    margin-left: 1.2em;
  }
}

/* Media queries pour les très écrans grands */
@media screen and (min-width: 1200px) {
  .reader-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-height: none;
  }

  .reader-title {
    width: 73em;
  }
}
