.reader-scroll {
  max-height: 25em;
  overflow-y: auto;
}

.reader-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  background-color: var(--darkGreen);
  font-family: var(--fontRegular);
  border-radius: 0.5em;
  width: 14em;
  margin: 0.5em;
  margin-left: 0.8em;
  margin-right: 1em;
  box-shadow: var(--ombre);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.reader-section:hover {
  transform: scale(1.05);
}

.reader-title h1 {
  color: var(--white);
  background-color: var(--blue);
}

.reader-link {
  color: var(--mediumGreen);
  font-family: var(--fontRegular);
  text-transform: uppercase;
  font-size: 0.8em;
}

.reader-img {
  height: 8em;
  object-fit: cover;
  padding-top: 1em;
  display: none;
}

.reader-icon {
  width: 2em;
  margin-right: 0.3em;
}

.reader-title {
  display: flex;
  align-items: center;
  position: relative;
}
.reader-none {
  display: none;
}

@media screen and (min-width: 480px) {
  .reader-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: none;
  }

  .reader-section {
    width: 14em;
    margin: 0.3em;
  }

  .reader-title h1 {
    width: 9em;
  }
}

@media screen and (min-width: 720px) {
  .reader-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: none;
  }

  .reader-img {
    display: block;
    width: 12em;
    margin: auto; /* Centre l'image horizontalement */
  }

  .reader-section {
    display: block;
    text-align: center;
    width: 14em;
    margin: 0.4em;
  }

  .reader-link {
    font-size: 0.7em;
  }

  .reader-title {
    width: 43.5em;
    display: flex;
    flex-direction: column;
    box-shadow: var(--ombre);
    border-radius: 0.5em;
    position: relative;
    margin: 2em 0;
  }

  .m-container h1 {
    width: 4em;
  }

  .reader-icon {
    font-size: 1.1em;
  }

  .reader-none {
    display: flex;
    justify-content: center;
    text-align: justify;
    color: var(--darkGreen);
    padding: 0 2em;
    font-family: var(--fontRegular);
  }
}

@media screen and (min-width: 990px) {
  .reader-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: none;
  }

  .reader-title {
    width: 58em;
  }
}

@media screen and (min-width: 1200px) {
  .reader-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-height: none;
  }

  .reader-title {
    width: 73em;
  }
}
