.home {
  animation: fadeIn 1s ease-in-out;
  margin-bottom: 2em;
}

.h-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--orange);
  height: 22em;
  width: 100%;
  margin: 2em auto;
}

.h-section1 p {
  margin: 0;
}
.h-section1 ul {
  margin: 0;
}

.lune-bg {
  display: none;
}

.caroussel-fond1,
.caroussel-fond2 {
  height: 22em;
  width: 1.1em;
}

.caroussel-fond1 {
  position: absolute;
  left: 0;
}

.caroussel-fond2 {
  position: absolute;
  right: 0;
}

.h-article1 {
  padding-bottom: 0.5em;
}

.h-article1 p {
  display: none;
}

.h-link1,
.h-link2 {
  display: inline-block;
  padding: 0.3em 1em;
  font-family: var(--fontRegular);
  color: white;
  position: relative;
  border-radius: 2em;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.h-link1 {
  background-color: var(--blue);
}

.h-link2 {
  background-color: var(--mediumGreen);
}

.h-link1:hover {
  background-color: var(--hoverBlue);
}

.h-link2:hover {
  background-color: var(--hoverGreen);
  color: var(--darkGreen);
}

.h-article2 {
  margin: 0;
  width: 17em;
  overflow: hidden;
}

.h-article2 img {
  height: 14em;
}

.images {
  display: flex;
  animation-duration: 20s;
  animation-name: animationImages;
  animation-iteration-count: infinite;
}

/* Ajoutez ces styles à votre feuille de style existante */

.home h2 {
  padding: 0.2em;
  font-size: 1.7em;
  color: #fff;
  background-color: var(--blue);
  font-family: var(--fontItalic);
  text-align: center;
  width: 6.2em;
}
.home-title1,
.home-title2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-right-arrow,
.title-left-arrow,
.title-right-arrow3,
.title-left-arrow3,
.title-right-arrow4,
.title-left-arrow4,
.title-right-arrow2,
.title-left-arrow2 {
  width: 2.5em;
  height: 2.85em;
}

.h-popular-section {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 1em;
}

.h-section2 {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 0.6em;
  transition: all 0.5s ease;
}

.h-article3 {
  display: inline-block;
  margin-right: 0.4em;
  margin-left: 0.4em;
  transition: transform 0.3s ease; /* Ajoutez une transition pour l'effet de mise à l'échelle */

  &:hover {
    transform: scale(1.1); /* Appliquez l'effet de mise à l'échelle au survol */
  }
}

.h-section2::-webkit-scrollbar {
  display: none;
}

.h-popular-section button {
  background-color: white;
}
.scroll-button {
  color: var(--mediumGreen);
  border: none;
  font-size: 2.3em;
}

.scroll-button.left {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.scroll-button.right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.h-title {
  font-family: var(--fontRegular);
  font-size: 0.8em;
  text-align: center;
  color: var(--orange);
  margin-top: 0.5em;
  width: 8em;
}

.h-img1 {
  height: 10em;
}

.h-recent-section,
.h-category-section {
  max-height: 12em;
  overflow-y: auto;
  margin: 1em;
}

.h-chapters {
  font-family: var(--fontRegular);
  color: var(--darkGreen);
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.h-chapters:hover {
  color: var(--mediumGreen);
}

.h-category-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--fontItalic);
  width: 20em;
  margin: 1em auto; /* Marge automatique à gauche et à droite */
  justify-content: center; /* Centrer horizontalement */
}

.h-categories {
  text-align: center;
  color: var(--darkGreen);
  margin: 0.3em;
  width: 4em;
  font-size: 1.3em;
}

.h-categories:hover {
  color: var(--mediumGreen);
}

.aside-3 {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animationImages {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-22em);
  }

  70% {
    transform: translateX(-42em);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 480px) {
  .h-section-ul {
    display: flex;
  }

  .h-section-ul li {
    margin-right: 0.5em;
  }
  .h-article2 {
    width: 23em;
  }

  .h-article2 img {
    height: 16em;
  }

  .h-category-section {
    grid-template-columns: repeat(4, 1fr);
    width: 24em;
  }

  @keyframes animationImages {
    0% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-22em);
    }

    70% {
      transform: translateX(-45.5em);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 720px) {
  .h-section1 {
    flex-direction: row;
  }

  .h-article1 p {
    display: flex;
    color: var(--darkGreen);
    font-family: var(--fontItalic);
    font-size: 1.6em;
    width: 9.5em;
    line-height: 1.4;
    margin: 0.8em;
    text-shadow: var(--ombre);
  }

  .h-section1 ul {
    display: flex;
    flex-direction: column;
  }

  .h-article2 {
    width: 25em;
  }

  .h-img1 {
    height: 13em;
  }

  .h-title {
    font-size: 0.9em;
  }

  .scroll-button {
    display: none;
  }

  .h-section2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
  }

  aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 45em;
    margin: 0 auto;
  }

  .h-category-section {
    grid-template-columns: repeat(3, 1fr);
    width: 20em;
  }

  @keyframes animationImages {
    0% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-24.8em);
    }

    70% {
      transform: translateX(-51em);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 1200px) {
  .home {
    width: 75em;
    margin: 0 auto;
  }

  .h-section1 {
    height: 20em;
    width: 71.2em;
    margin: 2em auto;
    justify-content: flex-end;
    border-radius: 1em;
    padding-right: 3.5em;
    box-shadow: var(--ombre);
  }

  .h-article1 {
    z-index: 2;
    padding-right: 6em;
  }

  .h-article1 p {
    color: var(--mediumGreen);
  }

  .h-article2 {
    width: 30em;
  }

  .h-article2 img {
    height: 17em;
    width: 28em;
  }

  .caroussel-fond1 {
    width: 50%;
    height: 20em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  .caroussel-fond2 {
    display: none;
  }

  .h-article1 {
    padding-left: 0.5em;
  }

  .home {
    position: relative;
  }

  .home-title1 {
    justify-content: flex-start;
    padding-left: 2em;
  }

  .h-section2 {
    margin-left: 2em;
    margin-bottom: 1.5em;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 22em;
    position: absolute;
    right: 2em;
    top: 24em;
  }

  .h-recent-section {
    margin-bottom: 1.5em;
  }

  .lune-bg {
    display: flex;
    width: 12em;
    z-index: 1;
  }

  .aside-3 {
    display: flex;
    flex-direction: column;
  }

  .h-news-section {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 18em;
  }

  .h-news-article {
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: var(--ombre);
  }

  .h-news-article h3 {
    color: var(--orange);
    font-family: var(--fontItalic);
    font-size: 1.5em;
    border-radius: 0.5em;
  }

  .h-news-article h3:hover {
    color: var(--hoverOrange);
  }

  .h-news-article blockquote {
    color: var(--darkGreen);
    font-weight: bold;
    font-style: italic;
    font-size: 0.88em;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }

  @keyframes animationImages {
    0% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-27em);
    }

    70% {
      transform: translateX(-55em);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 1250px) {
  .h-section1 {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);
    }
  }
}
