.dashboard-table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid var(--darkGreen);
  color: var(--darkGreen);
  text-align: center;
  font-family: var(--fontRegular);
  font-size: 0.9em;
}

.dashboard-table td {
  text-transform: capitalize;
}

.dashboard-table th {
  background-color: var(--orange);
  font-family: var(--fontItalic);
  font-size: 1.2em;
  padding: 0.5em;
}

.dashboard-table tbody tr:nth-child(even) {
  background-color: var(--mediumGreen);
}

.dashboard-table tbody tr:nth-child(odd) {
  background-color: var(--hoverGreen);
}

.dashboard-table select {
  width: 100%;
  padding: 0.3em;
  color: var(--white);
  border-radius: 0.5em;
  border: 1px solid var(--darkGreen);
  background-color: var(--orange);
  box-sizing: border-box;
  text-align: center;
}

.see-more {
  color: var(--darkGreen);
  font-size: 1.2em;
}

.d-image-none,
.th-none,
.td-none {
  display: none;
}

@media screen and (min-width: 480px) {
  .dashboard-table {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
}

@media screen and (min-width: 720px) {
  .th-none,
  .td-none {
    display: table-cell;
    border: 1px solid var(--darkGreen);
    color: var(--darkGreen);
    text-align: center;
    font-family: var(--fontRegular);
    font-size: 0.9em;
    padding: 0.5em;
  }

  .td-none {
    text-transform: capitalize;
  }

  .dashboard-table {
    width: 42em;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .dashboard-table {
    margin-left: 3em;
  }
}
