@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

:root {
  /*variable globale */
  --mediumGreen: #b0b9a8;
  --darkGreen: #424340;
  --orange: #db986b;
  --blue: #264066;
  --white: #fff;

  --hoverColor: #7f8572;
  --hoverBG: rgba(255, 255, 255, 0.1);
  --hoverBlue: #3b5883;
  --hoverGreen: #ebf9e2;
  --hoverOrange: #ffb483;

  --textBG: #f0f0f0;

  --transitionColor: color 0.3s ease-in-out;
  --transitionBG: background-color 0.3s ease-in-out;
  --transitionOpacity: opacity 0.5s ease-in-out;

  --fontRegular: "Lora", serif;
  --fontItalic: "Great Vibes", cursive;
  --fontLogo: "Marck Script", cursive;

  --ombre: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
